---
permalink: "search-index.json"
eleventyExcludeFromCollections: true
---
[
{%- for p in collections.all -%}
  {%- if p.url != "/search-index.json" -%}
  {
    "title": {{ p.data.title | dump | safe }},
    "url": {{ p.url | dump | safe }},
    "lang": {{ (p.data.lang | default('ca')) | dump | safe }}
  }{% if not loop.last %},{% endif %}
  {%- endif -%}
{%- endfor -%}
]
